*{
  box-sizing: border-box;
  margin: 5px;
  padding: 0px;
  font-family: sans-serif;
  background-color: azure;
  scroll-behavior: smooth;
}

.navbar_container {
  color: navy;
  text-decoration: none;
  background-color: azure;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.home_pic_container {
  display: block;
  justify-content: center;
  text-align: center;

}

.spa_card{
  justify-content: center;
  width: 500px;
}